html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  /* background-color: red; */
}

.container_1000 {
  max-width: 1000px;
  margin: 0 auto;
}
.menu_inline {
  list-style: none;
}
.menu_inline li {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}
.menu_inline li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}

header {
  background-color: white;
}
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 80px;
  background-color: white;
}
.header_logo {
  vertical-align: middle;
}
.header_menu li{
  text-align: left;
  margin-right: 25px;
}
.header_menu_lang li:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 20px;
}
.ico_hamburger {
  float: right;
  font-size: 3.7em;
  line-height: 80px;
  vertical-align: middle;
}

.lg_display_none {
  display: none;
}
.lg_display_block {
  display: block;
}

.jumbo {
  position: relative;
  height: 400px;
  margin-top: 80px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}
.jumbo_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
  color: white;
}
.jumbo_text h1 {
  font-size: 4em;
  margin-bottom: 0.8rem;
}
.jumbo_text p {
  font-size: 1.5em;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .header-top {
    padding: 0 2%;
  }
  .md_display_block {
    display: block;
  }
  .md_display_none {
    display: none;
  }
  .jumbo_text a {
    width: calc(100% / 4);
    display: inline-block;
  }
  .jumbo_text a img {
    width: 100%;
  }
  .top_section {
    background-position-x: -200px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }
  .xs_display_block {
    display: block;
  }
  .xs_display_none {
    display: none;
  }
  .header-top {
    padding: 0 2%;
  }
  .jumbo_text h1 {
    font-size: 3.5em;
    margin-bottom: 0.8rem;
  }
  .jumbo_text p {
    font-size: 2em;
    margin-bottom: 0.8rem;
  }
  .jumbo_text a {
    width: calc(100% / 5);
    display: inline-block;
  }
  .jumbo_text a img {
    width: 100%;
  }
  .md_display_none {
    margin: 75px auto;
  }
  .top_section {
   background-position-x: -200px;
  }

}
[class*=section] {
  width: 100%;
}
.container_1250 {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 300px;
}
.container_1250:after {
  content: "";
  display: table;
  clear: both;
}
.helbiz_go {
  background-color: #FAFAFA;
  margin: 50px auto;
  width: 80%;
  text-align: center;
}
.helbiz_go h3 {
  font-size: 25px;
  font-weight: normal;
}
.helbiz_go img {
  width: 30%;
  margin: 25px 0;
}
.helbiz_go a {
  color: #4998D7;
  font-size: 20px;
  padding: 20px;
  display: block;
}
.section_phone {
  height: 1000px;
  position: relative;
}
.top_section {
  height: 500px;
  background-image: url(../img/HelbizBanner.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
/* .bottom_section {
  background-color: red;
} */
.bottom_section h2 {
  font-size: 3.5em;
  margin-top: 60px;
  margin-left: 50px;
}
.bottom_section h3 {
  font-size: 2em;
  margin: 60px 70px 30px 0;

}
.bottom_section p {
  font-size: 2em;
}
.image_phone {
  height: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
